html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.65em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
    font-size: 48px;
    color: #002d5b;
    line-height: 1.3em;
    margin: 0;
}

h1 {
    font-weight: 600;
}

h2 {
    font-size: 38px;
    font-weight: 600;
}

h3 {
    font-size: 31px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 21px;
    font-weight: 600;
}

p {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #353734;
}

.prefix {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: #002d5b;
    line-height: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: white;
    color: #002d5b;
}



.btn {
    background-color: #EC5B53;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background-color: #cf332b;
}

.btn-secondary {
    background-color: #fff;
    color: #EC5B53;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #EC5B53;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #cf332b;
    border: 1px solid #cf332b;
    color: #fff;
}

.logo {
    padding-top: 10px;
}

.logo img {
    height: 34px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #002d5b;
    text-decoration: none;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #002d5b;
    margin: 2.5px;
    border-radius: 5px;
}

.hero-ctn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}


.hero-content {
    flex: 2;
    margin-right: 30px;
}

.hero-content>p {
    margin-bottom: 50px;
}

.hero-image {
    flex: 1;
}

.hero-image>img {
    max-width: 450px;
    object-fit: cover;
}

.skills-ctn,
.about-ctn,
.portfolio-ctn {
    padding: 100px 0;
}

.skills-heading,
.about-heading,
.portfolio-heading {
    text-align: center;
    align-items: center;
}

.red-separator {
    width: 9%;
    border-top-width: 2px;
    border-top-color: #EC5B53;
    border-top-style: solid;
    display: inline-block;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding-top: 40px;
}

.skill {
    display: inline-block;
    width: 100%;
}

.skill img {
    height: 50px;
    fill: #EC5B53;
}

.about-content {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.about-para {
    margin-right: 80px;
}

.about-image {
    background-color: #EC5B53;
    padding-top: 20px;
    padding-bottom: 14px;
    border-radius: 10px;
    box-sizing: border-box;
}

.about-image img {
    object-fit: cover;
    width: 331px;
    height: 421px;
    border-radius: 10px;
    position: relative;
    left: -20px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 80px;
}

.portfolio-item img {
    width: 100%;
    border-radius: 10px;
}

.portfolio-item-text>h3 {
    text-transform: capitalize;
    margin-top: 20px;
}

.footer {
    background-color: #002d5b;
    color: #ffffff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-email a {
    color: #ffffff;
    text-decoration: none;
}

.footer-copyright {
    padding: 40px 0;
    border-top: 0.5px solid #ffffff;
}

/* Project page styles */

.project-hero-ctn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

.project-hero-content {
    flex: 1;
    margin-right: 80px;
}

.project-hero-content p:nth-last-of-type(1) {
    margin-bottom: 50px;
}

.project-hero-content>.btn {
    margin-right: 20px;
}

.project-hero-image {
    flex: 1;
}

.project-hero-image>img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details-ctn {
    padding: 100px 0;
}

.project-overview {
    display: flex;
    flex: 2;
}

.overview-title {
    flex: 1;
}

.highlights {
    flex: 1;
}

.project-highlight {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    font-family: "Inter Tight", sans-serif;
    font-weight: 300;
    padding: 10px 0;
    margin-bottom: 10px;
}

.arrow-red {
    padding: 0;
    width: 12px;
    margin-right: 16px;
    align-self: center;
}

.tech-used {
    background: linear-gradient(90deg, rgba(227, 7, 7, 0.77) 0%, rgba(224, 81, 81, 0.5) 100%);
}

.tech-logo-group {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

.tech-logo {
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.tech-icon {
    margin-right: 20px;
}

.tech-icon>img {
    height: 40px;
}

.tech-icon-title {
    color: #fff;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
}


@media (max-width: 976px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h5 {
        font-size: 17px;
    }

    .hero-image>img {
        max-width: 320px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h5 {
        font-size: 15px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        color: #002d5b;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hero-ctn {
        flex-direction: column;
        padding-top: 0;
        text-align: center;
    }

    .hero-content {
        margin-right: 0;
    }

    .hero-content,
    .hero-image {
        flex: 1;
        width: 100%;
        padding-top: 50px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content {
        flex-direction: column;
    }

    .about-para {
        margin-right: 0;
    }

    .about-para:nth-last-of-type(2) {
        margin-bottom: 50px;
    }

    .about-image {
        display: flex;
        justify-content: center;
        padding-left: 16px;
        padding-right: 0;
        padding-top: 16px;
        padding-bottom: 16px;

    }

    .about-image img {
        /* object-fit: cover; */
        width: 300px;

        left: -20px;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-email {
        padding-top: 30px;
    }

    .project-hero-ctn {
        flex-direction: column;
    }

    .project-hero-content {
        margin-right: 0;
    }

    .project-hero-image {
        padding-top: 50px;
    }

    .project-overview {
        flex-direction: column;
        row-gap: 24px;
    }

    .tech-logo-group {
        flex-direction: column;
    }

    .tech-logo {
        padding-bottom: 30px;
    }

    .tech-logo:first-of-type {
        margin-top: 30px;
    }
}